@model List<StoreFrontVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @*Will return a p_storeID and p_customerID to be processed by AddToOrder's HttpPost'*@
    <form asp-action="ChosenStore">
        <label for="store">Select Store: </label>
        <select id="store" name="p_storeID">
            @foreach (var store in Model)
            {
                <option value="@store.StoreFrontID">@store.StoreName</option>
            }
        </select>
        <input name="p_customerID" type="hidden" asp-for="@ViewData["customerID"]" value="@ViewData["customerID"]">
        <button type="submit" class="btn btn-secondary">Select</button>
    </form>
</body>
</html>